<h1><a href="../" style="text-decoration: none; color: #000000;">bin</a></h1>
<pre class="brush: <%= syntax %>; ruler: true;">
<%= body %>
</pre>

<a href="../">&lt;-Back to Top</a>

<script type="text/javascript">
SyntaxHighlighter.all();
</script>
