<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% if (locals.scripts) { %>
    <% for(var i=0; i<scripts.length; i++) {%>
    <script type="text/javascript" src="<%= scripts[i] %>"></script>
    <% } %>
    <% } %>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <% if (locals.styles) { %>
    <% for(var i=0; i<styles.length; i++) {%>
    <link rel="stylesheet" href="<%= styles[i] %>" />
    <% } %>
    <% } %>
  </head>
  <body>
    <%- body %>
  </body>
</html>
